
body {
    background:grey;
    padding-top:5px;
    padding-left: 22px;
    width:900px;
    margin: 0 auto;


}

header {
width: 800px;
height: 70px;
background:white;
margin-bottom: 10px;

}

nav{
width: 800px;
height: 70px;
background:white;

} 



section{
width: 450px;
height: 210px;
background: white;
padding-right:20px;
float: left;                  /* Add this */



}

aside{
width: 300px;
height: 210px;
background: orange;
float: right;
margin-right:100px;



}
